name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  pages: write
  id-token: write

env:
  STORYBOOK_SDK_API_KEY: ${{ secrets.STORYBOOK_SDK_API_KEY }}
  STORYBOOK_SDK_REGION: ${{ secrets.STORYBOOK_SDK_REGION }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          install_command: npm install
          build_command: npm run build:storybook
          path: storybook-static
          checkout: false
